.tickets {
  grid-area: tickets;
}

.ticket {
  padding: 20px;
  background: #ffffff;
  box-shadow: 8px 2px 8 px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}

.ticket__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ticket__price {
  color: #2196f3;
  font-size: 24px;
  padding-top: 6px;
}

.ticket__logo {
  width: 140px;
}

.ticket_data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.ticket_data:last-child {
  margin-bottom: 0;
}


.ticket_data__item:last-child {
  width: 140px;
}

.ticket_data__item__grey {
  color: #a0b0b9;
}
.ticket_data__item__grey-time {
  text-transform: lowercase;
}

.add-tickets {
  color:#ffffff;
  cursor: pointer;
  user-select: none;
  background: #2196F3;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}

.add-tickets:active {
  background: royalblue
}